.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: gold;
   background: grey;
   font-family:verdana;

}

h1{ display: flex;
justify-content:  center;
;
}

h2{color: black;}
.contact {
}
.social { 


}
.office { 

}

.message {
    height: 20px;
}

    

.button{
    /* background-color: ; */
    text-align:center;
    padding: 15px 32px;
    flex-basis: auto;

}